{% extends "base.html" %}

{% block content %}
<section class="hero page">
  <div class="hero-bg"></div>
  <div class="hero-content page">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.description }}</h2>
  </div>
</section>
<section class="section-index">
  <div class="container">
  <article class="article-content">
    {% if page.extra.author %}
    <div class="article-info">
        <span class="author">By {{ page.extra.author }}</span><span class="date">{{ page.date | date(format="%B %e, %Y") }}</span>
    </div>
    {% endif %}
    {{ page.content | safe}}
  </article>
</div>
</section>
{% endblock content %}